* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 60%;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    box-shadow: 2px 3px 5px;
    padding: 2rem;
}

ul {
    list-style: none;
}

.input-fields {
    display: grid;
}
span {
    padding: 1rem;
    margin-right: 1rem;
}

.first-entry,
.second-entry {
    margin-left: 1rem;
}

.TextField {
}
